body {
    font-size: 15pt;
}

.header {
    background-image: url("images/desktop/image-hero.jpg");
    color: white;
    padding-bottom: 100px;
    background-size: cover;
    min-height: 650px;
}

.navbar {
    padding: 50px;    
}

.headertext {
    border-style: solid;
    border-width: 2px;
    font-size: 62pt;
    width: 50%;
    margin-left: 3%;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 80px;
    padding: 3%;
}

.flexcontainer {
    position: absolute;
    height: 80vh;
    width: 80%;
}

.vrimage {
    background-image: url('images/mobile/image-interactive.jpg');
    width: 60%;
    position: relative;
    height: 0;
    padding-bottom: 80%; /* set a 1:1 aspect ratio */
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 02px;
    margin-top: 5%;
    margin-left: 5%;
    padding-bottom: 50%;
}

.vrimage img {
    float: left;
    width: 70%;
    /* z-index: 1; */
    position: absolute;
}

.vrtext {
    border-style: solid;
    border-color: white;
    padding: 10%;
    width: 90%;
    position: relative;
    background-color: white;
    margin-top: 40%;
    margin-left: 70%;
    /* z-index: 2; */
}

.ourcreations h1 {
    float: left;
}

.button {
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    background-color: white;
    margin-right: 5%;
}

.container {
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
    margin-top: 5%
}

.row {
    width: 100%;
}

.text-left {
    color: white;
    bottom: 5px;
    left: 20px;
}

.position-relative {
    padding-top: 20px;
    width: 100%;
}

footer {
    padding: 5%;
}

.footer embed {
    padding-left: 5px;
    padding-right: 5px;
}

ul {
    color: white;
}

.footer a:visited {
    color: white;
}

@media (max-width: 767px) {

    .header {
    background-image: url("images/mobile/image-hero.jpg");
    color: white;
    padding-bottom: 100px;
    background-size: cover;
    min-height: 650px;
}

.navbar {
    padding: 50px;    
}

.headertext {
    border-style: solid;
    border-width: 2px;
    padding: 5%;
    width: 82%;
    margin: auto;
}

.headertext p {
    font-size: 30pt;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 38px;
}

.flexcontainer {
    position: absolute;
    height: 80vh;
    width: 80%;
}

.vrimage {
    width: 90%;
    height: 0;
    padding-bottom: 80%; /* set a 1:1 aspect ratio */
    margin: auto;
    position: relative;
    background-image: url('images/mobile/image-interactive.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}   

.vrtext {
    border-style: solid;
    border-color: white;
    width: 100%;
    position: relative;
    background-color: white;
    margin-left: 0;
    margin-top: 90%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15pt;
    line-height: 25px;
    font-family: 'Alata', sans-serif;
}


.ourcreations h1 {
    float: left;
}

.button {
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    background-color: white;
    margin-right: 5%;
}

.container {
    margin-top: 130%;
}

.row {
    width: 100%;
}

.text-left {
    color: white;
    bottom: 20px;
    left: 20px;
}

.position-relative {
    padding-top: 20px;
    width: 100%;
}

footer {
    padding: 5%;
}

.footer embed {
    padding-left: 5px;
    padding-right: 5px;
}

ul {
    color: white;
}

.footer a:visited {
    color: white;
}
}